
.choice{
    background: rgb(74, 109, 224);
    cursor: pointer;
    color: aliceblue;
    padding-left: 30px;
}

.jumbotron{
 text-align: center;

}

h1{
color: rgb(226, 82, 15);
}

body{
    background: rgb(201, 203, 204);
}